acme==2.9.0
aiohttp==3.9.5
aiolimiter==1.1.0
aiosignal==1.3.1
alembic==1.13.2
annotated-types==0.7.0
anthropic==0.34.1
anyio==3.7.1
argcomplete==3.3.0
astroid==3.2.4
asttokens==2.4.1
async-timeout==4.0.3
attrs==23.2.0
Automat==22.10.0
Babel==2.10.3
backcall==0.2.0
bcc==0.29.1
bcrypt==3.2.2
beautifulsoup4==4.12.3
black==24.8.0
bleach==6.1.0
blinker==1.7.0
boto3==1.35.3
botocore==1.35.3
build==1.2.2
CacheControl==0.14.0
cachetools==5.3.3
certbot==2.9.0
certbot-nginx==2.9.0
certifi==2023.11.17
chardet==5.2.0
charset-normalizer==3.3.2
cleo==2.1.0
click==8.1.6
cloud-init==24.1.3
colorama==0.4.6
colored==2.2.4
comm==0.2.2
command-not-found==0.3
ConfigArgParse==1.7
configobj==5.0.8
constantly==23.10.4
contourpy==1.2.1
coverage==7.6.8
crashtest==0.4.1
cryptography==41.0.7
cycler==0.12.1
dataclasses-json==0.6.6
datasets==2.21.0
dbus-python==1.3.2
debugpy==1.8.5
decorator==5.1.1
defusedxml==0.7.1
Deprecated==1.2.14
dill==0.3.8
dirtyjson==1.0.8
distlib==0.3.8
distro==1.9.0
distro-info==1.7+build1
dnspython==2.6.1
docopt==0.6.2
docstring_parser==0.16
dulwich==0.22.7
dynaconf==3.2.5
ec2-hibinit-agent==1.0.0
ecdsa==0.19.0
email_validator==2.1.1
exceptiongroup==1.2.2
executing==2.0.1
faiss-cpu==1.8.0.post1
fastapi==0.111.0
fastapi-cli==0.0.4
fastjsonschema==2.19.1
filelock==3.14.0
Flask==3.0.3
fonttools==4.53.1
frozenlist==1.4.1
fsspec==2024.5.0
git-filter-repo==2.38.0
gitdb==4.0.11
GitPython==3.1.43
google-api-core==2.8.0
google-api-python-client==2.130.0
google-auth==2.29.0
google-auth-httplib2==0.2.0
google-auth-oauthlib==1.2.0
googleapis-common-protos==1.56.1
greenlet==3.0.3
gyp==0.1
h11==0.14.0
hibagent==1.0.1
httpcore==1.0.5
httplib2==0.20.4
httptools==0.6.1
httpx==0.27.0
huggingface-hub==0.23.1
hyperlink==21.0.0
idna==3.6
igraph==0.11.6
ijson==3.3.0
importlib_metadata==8.4.0
incremental==22.10.0
infomap==2.8.0
iniconfig==2.0.0
inotify==0.2.10
installer==0.7.0
instructor==1.4.0
intervaltree==3.1.0
ipykernel==6.29.5
ipython==8.12.3
isort==5.13.2
itsdangerous==2.2.0
jaraco.classes==3.4.0
jaraco.context==6.0.1
jaraco.functools==4.1.0
jedi==0.19.1
jeepney==0.8.0
Jinja2==3.1.2
jiter==0.4.2
jmespath==1.0.1
joblib==1.4.2
jose==1.0.0
josepy==1.14.0
jsonpatch==1.33
jsonpointer==2.0
jsonref==1.1.0
jsonschema==4.22.0
jsonschema-specifications==2023.12.1
jupyter_client==8.6.2
jupyter_core==5.7.2
jupyterlab_pygments==0.3.0
keyring==25.6.0
kiwisolver==1.4.5
langchain==0.2.15
langchain-community==0.2.1
langchain-core==0.2.36
langchain-text-splitters==0.2.0
langsmith==0.1.106
launchpadlib==1.11.0
lazr.restfulclient==0.14.6
lazr.uri==1.0.6
leidenalg==0.10.2
litellm==1.44.5
llama-cloud==0.0.15
llama-index==0.11.1
llama-index-agent-openai==0.3.0
llama-index-cli==0.3.0
llama-index-core==0.11.1
llama-index-embeddings-openai==0.2.3
llama-index-embeddings-voyageai==0.2.1
llama-index-indices-managed-llama-cloud==0.3.0
llama-index-legacy==0.9.48.post3
llama-index-llms-openai==0.2.0
llama-index-multi-modal-llms-openai==0.2.0
llama-index-program-openai==0.2.0
llama-index-question-gen-openai==0.2.0
llama-index-readers-file==0.2.0
llama-index-readers-llama-parse==0.2.0
llama-parse==0.5.0
llamaindex-py-client==0.1.19
Mako==1.3.5
markdown-it-py==3.0.0
MarkupSafe==2.1.5
marshmallow==3.21.2
matplotlib==3.9.2
matplotlib-inline==0.1.7
mccabe==0.7.0
mdurl==0.1.2
mistune==3.0.2
more-itertools==10.5.0
msgpack==1.1.0
multidict==6.0.5
multiprocess==0.70.16
mypy==1.11.2
mypy-extensions==1.0.0
nbclient==0.10.0
nbconvert==7.16.4
nbformat==5.10.4
nest-asyncio==1.6.0
netaddr==0.8.0
netifaces==0.11.0
networkx==3.3
nltk==3.9.1
nose==1.3.7
numpy==1.26.4
oauthlib==3.2.2
openai==1.2.0
orjson==3.10.3
packaging==24.2
pandas==2.2.2
pandocfilters==1.5.1
parsedatetime==2.6
parso==0.8.4
pathspec==0.12.1
pdfminer.six==20231228
pdfs==0.1.0
pexpect==4.9.0
pickleshare==0.7.5
pillow==10.4.0
pipreqs==0.5.0
pkginfo==1.12.0
platformdirs==4.2.2
pluggy==1.5.0
poetry==2.0.1
poetry-core==2.0.1
poetry-plugin-export==1.8.0
prompt-toolkit==3.0.43
protobuf==5.27.0
psutil==6.0.0
psycopg2==2.9.9
psycopg2-binary==2.9.9
ptyprocess==0.7.0
pure-eval==0.2.2
pyarrow==17.0.0
pyarrow-hotfix==0.6
pyasn1==0.4.8
pyasn1-modules==0.2.8
pydantic==2.8.2
pydantic_core==2.20.1
Pygments==2.17.2
PyGObject==3.48.2
PyHamcrest==2.1.0
PyICU==2.12
PyJWT==2.8.0
pylint==3.2.6
pymongo==4.7.2
pyOpenSSL==23.2.0
pyparsing==3.1.1
pypdf==4.3.1
pyproject_hooks==1.1.0
pyRFC3339==1.1
pyrsistent==0.20.0
pyserial==3.5
pytest==8.2.1
pytest-cov==6.0.0
pytest-mock==3.14.0
python-apt==2.7.7+ubuntu3
python-dateutil==2.9.0.post0
python-debian==0.1.49+ubuntu2
python-dotenv==1.0.1
python-jose==3.3.0
python-magic==0.4.27
python-multipart==0.0.9
pytz==2024.1
PyYAML==6.0.1
pyzmq==26.0.3
rapidfuzz==3.9.6
referencing==0.35.1
regex==2024.5.15
requests==2.32.2
requests-oauthlib==2.0.0
requests-toolbelt==1.0.0
rich==13.7.1
rpds-py==0.18.1
rsa==4.9
s3transfer==0.10.2
safetensors==0.4.3
scipy==1.14.1
SecretStorage==3.3.3
sentry-sdk==2.13.0
service-identity==24.1.0
setuptools==68.1.2
shellingham==1.5.4
simple_parsing==0.1.5
six==1.16.0
smmap==5.0.1
sniffio==1.3.1
sortedcontainers==2.4.0
sos==4.5.6
soupsieve==2.5
SQLAlchemy==2.0.30
ssh-import-id==5.11
stack-data==0.6.3
starlette==0.37.2
striprtf==0.0.26
systemd-python==235
tenacity==8.5.0
texttable==1.7.0
tiktoken==0.7.0
tinycss2==1.3.0
tokenizers==0.19.1
tomli==2.0.1
tomlkit==0.13.2
tornado==6.4
tqdm==4.66.4
traitlets==5.14.3
transformers==4.41.1
tree-sitter==0.22.3
tree-sitter-java==0.21.0
tree-sitter-python==0.21.0
trove-classifiers==2024.9.12
Twisted==24.3.0
typer==0.12.3
typing-inspect==0.9.0
typing_extensions==4.12.2
tzdata==2024.1
ubuntu-pro-client==8001
ufw==0.36.2
ujson==5.10.0
unattended-upgrades==0.1
Unidecode==1.3.8
uritemplate==4.1.1
urllib3==2.0.7
uvicorn==0.29.0
uvloop==0.19.0
virtualenv==20.29.1
voyageai==0.2.3
wadllib==1.3.6
watchfiles==0.21.0
wcwidth==0.2.13
webencodings==0.5.1
websockets==12.0
Werkzeug==3.0.3
wheel==0.42.0
Whoosh==2.7.4
wrapt==1.16.0
xxhash==3.5.0
yarg==0.1.9
yarl==1.9.4
zipp==3.20.0
zope.interface==6.1
